/*estilo de fonte padrão*/
h1, h2, a  {
    font-family: 'Kosugi', sans-serif;
    z-index: -1;
}

p, li, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*menu principal*/
.menu ul {
    padding: 0;
    list-style: none;
    margin: -5px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 5;
}
                                                                            
.menu ul li {
    display: inline;
}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 20px;
    width:  150px;
    height: 50px;
    font-family: 'Kosugi', sans-serif;
}
                                                                           
.menu ul li a img {
    position: relative;
    top: 20px;
}


/*contato*/ /*ainda falta botar o background*/
.contato {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template: 1fr 1fr 1fr/ repeat(9, 1fr);
}

#email {
    grid-area: 2/ 1/ span 1/ span 2;
    background-color: #000;
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}

#whatsapp {
    grid-area: 2/ 8/ span 1/ span 2;
    background-color: #000;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}

footer img {
    object-fit: cover;
    position: relative;
    z-index: -1;
    top: 500px;
}

.contato p {
    font-size: 20px;
    font-family: 'Kosugi', sans-serif;
    position: relative;
    top: 50px;
}

/*Introdução*/
.introdução {
    width: 500px;
    margin-left: -250px;
    position: relative;
    left: 50%;
    text-align: center;
    border: 5px dotted #000;
}

.introdução h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.introdução p {
    font-size: 20px;
}

/*Entrevista*/
.entrevista {
    width: 500px;
    margin-left: -250px;
    position: relative;
    left: 50%;
    text-align: center;
    border: 5px dotted #000;
}

.entrevista h3{
    font-size: 40px;
    text-transform: uppercase;
}

.entrevista p {
    font-size: 20px;
}

/*fotos*/
.fotos{
    width: 500px;
    margin-left: -250px;
    position: relative;
    left: 50%;
    text-align: center;
    border: 5px dotted #000;
}

.fotos h3{
    font-size: 40px;
    text-transform: uppercase;
}

.fotos a{
    text-decoration: none;
    color: #fff;
    background-color: #000; 
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    text-transform: uppercase;
}

.fotos a:hover{
    color: #000;
    background-color: #fff;        
}

/*trabalhos*/

.trabalhos {
     width: 500px;
    margin-left: -250px;
    position: relative;
    left: 50%;
    text-align: center;
    border: 5px dotted #000;
}

.trabalhos h3 {
    font-size: 40px;
    text-transform: uppercase;
}

.trabalhos a {
    text-decoration: none;
    color: #fff;
    background-color: #000; 
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    text-transform: uppercase;
}

.trabalhos a:hover {
    color: #000;
    background-color: #fff;        
}